﻿@model IEnumerable<string>

<div data-role="navbar">
    <ul>

        <!-- generate li elements for the product categories,
            elements are organized in a way that jquery mobile 
            expects for a nav bar at the top of the page-->
        @foreach (var link in Model)
        {
            <li>
                @Html.RouteLink(link,
                new { controller = "Product",
                    action = "List",
                    category = link,
                    page = 1},
                new
                {
                    data_transition = "fade",
                    @class = (link == ViewBag.SelectedCategory
                ? "ui-btn-active" : null)
                })
            </li>
        }
    </ul>
</div>