﻿@model IEnumerable<string>

@{ 
    <!-- access routing info directly from the view -->
    bool horizontal = ((bool)(ViewContext.RouteData.Values["horizontalLayout"] ?? false));
    <!-- create local variable within the view -->
    string wrapperClasses = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
}

<!-- apply variable to the class attribute: -->
<div class="@wrapperClasses">

    @Html.ActionLink("Home", "List", "Product",
    new { @class = horizontal ? "btn btn-default btn-sm" :
    "btn btn-block btn-default btn-lg"})

    @foreach(var link in Model)
    {
        @Html.RouteLink(link,
        new { controller = "Product",
        action = "List",
        category = link,
        page = 1},
        new { @class = (horizontal ? "btn btn-default btn-sm" :
        "btn btn-block btn-default btn-lg")
        + (link == ViewBag.SelectedCategory ? "btn-primary" : "")})
    }
</div>