﻿@using SportsStore.WebUI.HtmlHelpers
@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    <!-- <div class="well">
         <h3>
             <strong>@p.Name</strong>
             <span class="pull-right label label-primary">@p.Price.ToString("c")</span>
         </h3>
         <span class="lead">@p.Description</span>
     </div> -->
    <!-- the ToString c renders numbers as currency -->

    @Html.Partial("ProductSummary", p)
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", 
    new { page = x, category = Model.CurrentCategory }))
</div>